body {
    background-color: rgb(160, 231, 174);
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    justify-content: center;
}

#app {
    width: 30%;
    background-color: aliceblue;
    margin-top: 20px;
    padding: 12px;
    border-radius: 6px;
}

.todo-heading {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.inputbox {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.input {
    width: 60%;
    padding: 6px;
    font-size: 12px;
}

.button {
    padding: 6px 12px;
    font-size: 12px;
    
}

ul {
    list-style: none;
    margin: 10px;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: bold;
    margin-top: 8px;
}

li div button done {

    margin-left: 10px;

}
